build/
.vs/
Lab1Video_files/
libs/
*.approj
*.mp4
*.sln
*.pdf
*.vcxproj
cookTorranceFragmentShader-Spare.txt
cookTorranceVertexShader-Spare.txt
light.txt
lightFragmentShader.txt
lightVertexShader.txt
monkeyhead_smooth.dae
*.blend1
*.mtl
*.obj
teapot.*